.header {
    height: 80px;
    margin-bottom: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

#logo img {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 85%;
}

#link a {
    text-decoration: none;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 40px;
}

.main-content input {
    margin-bottom: 10px;
}

#table {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
    width: 750px;
    height: 300px;
    border-collapse: collapse;
}

#table th {
    background-color: green;
    color: #fff;
    text-align: left;
    height: 40px;
}

#table tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.footer {
    height: 120px;
}

.footer div {
    font-size: 28px;
    text-align: center;
}